In [3]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv(r'C:\Users\kisan\Downloads\imdb_data.csv')

In [5]:
df.drop('id',axis=1,inplace=True)

In [6]:
df.head(5)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [7]:
df.columns.values

array(['belongs_to_collection', 'budget', 'genres', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'Keywords', 'cast', 'crew', 'revenue'], dtype=object)

In [8]:
im1 = df[df['runtime']>=150]

In [9]:
im1.shape

(135, 22)

In [10]:
im2 = df[(df['runtime']<150) & (df['runtime']>100)]

In [11]:
im3 = df[df['runtime']<=100]

In [12]:
im1.shape,im2.shape,im3.shape

((135, 22), (1586, 22), (1277, 22))

In [13]:
new_df = pd.concat([im1,im2,im3])

In [14]:
new_df.shape

(2998, 22)

In [15]:
df.shape

(3000, 22)

In [16]:
sampl_data = pd.concat([im1,im2],axis=1)

In [17]:
sampl_data.shape

(1721, 44)

In [18]:
## lets do some joints
# Inner joint
# Outer joint
# left joint
# Right joint

In [19]:
from datetime import datetime
from datetime import date

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  604 non-null    object
 1   budget                 3000 non-null   int64
 2   genres                 2993 non-null   object
 3   homepage               946 non-null    object
 4   imdb_id                3000 non-null   object
 5   original_language      3000 non-null   object
 6   original_title         3000 non-null   object
 7   overview               2992 non-null   object
 8   popularity             3000 non-null   float64
 9   poster_path            2999 non-null   object
 10  production_companies   2844 non-null   object
 11  production_countries   2945 non-null   object
 12  release_date           3000 non-null   object
 13  runtime                2998 non-null   float64
 14  spoken_languages       2980 non-null   object
 15  status                 3000 non-null   object
 16  tagline                2403 non-null   object
 17  title                  3000 non-null   object
 18  Keywords               2724 non-null   object
 19  cast                   2987 non-null   object
 20  crew                   2984 non-null   object
 21  revenue                3000 non-null   int64
dtypes: float64(2), int64(2), object(18)
memory usage: 515.8+ KB

In [21]:
df['relese_year'] = df['release_date'].apply(lambda x :datetime.strptime(x,'%m/%d/%y'))

In [22]:
df.head(5)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,relese_year
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,2015-02-20
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,2004-08-06
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,2014-10-10
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,2012-03-09
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,2009-02-05

In [23]:
df['year_of_relese'] = df['relese_year'].apply(lambda x : x.year)

In [24]:
df.head(5)

,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,relese_year,year_of_relese
0,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,2015-02-20,2015
1,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,2004-08-06,2004
2,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,2014-10-10,2014
3,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,2012-03-09,2012
4,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,2009-02-05,2009

In [25]:
import numpy as np

In [26]:
df['year_of_relese']=np.where(df['year_of_relese']>2020,df['year_of_relese']-100,df['year_of_relese'])

In [27]:
df['year_of_relese'].unique()

array([2015, 2004, 2014, 2012, 2009, 1987, 1996, 2003, 1976, 1999, 2005,
       2002, 2010, 2013, 2011, 1998, 1982, 2006, 1992, 1997, 1986, 2007,
       2000, 1995, 1965, 1967, 2017, 1994, 2008, 1980, 1988, 2016, 1993,
       1956, 1989, 1962, 1990, 1981, 1984, 1979, 2001, 1966, 1978, 1968,
       1983, 1975, 1985, 1991, 1928, 1969, 1933, 1949, 1970, 1971, 1977,
       1940, 1954, 1957, 1953, 1932, 1960, 1948, 1958, 1961, 1959, 1952,
       1944, 1955, 1951, 1973, 1972, 1936, 1931, 1935, 1942, 1927, 1964,
       1939, 1925, 1950, 1945, 1943, 1974, 1921, 1963, 1938, 1947, 1930,
       1926, 1924], dtype=int64)

In [28]:
df.groupby('year_of_relese')['runtime'].mean().reset_index().rename(columns = {'year_of_relese':'Year','runtime':'Avg_runtime'})

    Year  Avg_runtime
0   1921    68.000000
1   1924   149.000000
2   1925   106.000000
3   1926    84.000000
4   1927    87.000000
..   ...          ...
85  2013   108.865248
86  2014   105.414634
87  2015   111.937500
88  2016   108.584000
89  2017   111.150000

[90 rows x 2 columns]

In [29]:
df['runtime'].describe()

count    2998.000000
mean      107.856571
std        22.086434
min         0.000000
25%        94.000000
50%       104.000000
75%       118.000000
max       338.000000
Name: runtime, dtype: float64

In [30]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'homepage', 'imdb_id',
       'original_language', 'original_title', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'Keywords', 'cast', 'crew', 'revenue', 'relese_year',
       'year_of_relese'],
      dtype='object')

In [31]:
df.groupby(['year_of_relese','original_language'],as_index = False).agg({'runtime':'mean','revenue':'sum','imdb_id':'count'}).sort_values(by='year_of_relese').rename(columns={'runtime':'Avg_runtime','revenue':'Profit','imdb_id':'Number of Movies'})

,year_of_relese,original_language,Avg_runtime,Profit,Number of Movies
0,1921,en,68.000000,2500000,1
1,1924,en,149.000000,1213880,1
2,1925,en,137.000000,1,1
3,1925,ru,75.000000,45100,1
4,1926,en,84.000000,966878,1
...,...,...,...,...,...
346,2017,ru,140.000000,9868942,1
343,2017,en,110.542857,7215048462,35
344,2017,es,91.500000,6440000,2
345,2017,fr,86.000000,7800000,1
347,2017,ta,168.000000,17000000,1

In [33]:
df.shape

(3000, 24)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [36]:
df.head(2)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435

In [38]:
df.columns.values

array(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'Keywords',
       'cast', 'crew', 'revenue'], dtype=object)

In [39]:
columns_to_keep = ['budget','genres','original_language','original_title','cast','crew','revenueb']

In [42]:
df.loc[~df['genres'].isna(),'genres']

0                          [{'id': 35, 'name': 'Comedy'}]
1       [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                           [{'id': 18, 'name': 'Drama'}]
3       [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4       [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
                              ...
2995    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2996    [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...
2997    [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
2998    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
2999    [{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...
Name: genres, Length: 2993, dtype: object

In [44]:
type(df.loc[0,'cast'])

str

In [45]:
def convert_to_list(str):
    return eval(str)

In [46]:
df.loc[~df['genres'].isna(),'genres']= df.loc[~df['genres'].isna(),'genres'].apply(convert_to_list)

In [48]:
type(df.loc[0,'genres'])

list

In [49]:
df.loc[~df['cast'].isna(),'cast']= df.loc[~df['cast'].isna(),'cast'].apply(convert_to_list)

In [50]:
df.loc[~df['crew'].isna(),'crew']= df.loc[~df['crew'].isna(),'crew'].apply(convert_to_list)

In [51]:
type(df.loc[0,'crew'])

list

In [52]:
imdb_df = df.copy()

In [55]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [56]:
df['revenue'].describe()

count    3.000000e+03
mean     6.672585e+07
std      1.375323e+08
min      1.000000e+00
25%      2.379808e+06
50%      1.680707e+07
75%      6.891920e+07
max      1.519558e+09
Name: revenue, dtype: float64

In [57]:
imdb_df.head(3)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000

In [58]:
imdb_df.loc[df['budget'] <1000,'budget'] = imdb_df['budget'].median()

In [61]:
imdb_df.loc[df['revenue'] <1000,'revenue'] = imdb_df['revenue'].median()

In [62]:
df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [64]:
imdb_df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.474467e+07     8.463274   107.856571  6.704518e+07
std     866.169729  3.583254e+07    12.104000    22.086434  1.373964e+08
min       1.000000  2.500000e+03     0.000001     0.000000  1.404000e+03
25%     750.750000  8.000000e+06     4.018053    94.000000  2.947600e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680873e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [65]:
imdb_df['profit']= imdb_df['revenue'] - imdb_df['budget']

In [66]:
imdb_df['ROI'] = (imdb_df['profit']/imdb_df['budget'])*100

In [67]:
imdb_df.head(2)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,profit,ROI
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,-12.038207
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,137.873588

In [70]:
## Which movie has highest  profit
imdb_df['profit'].max()

1316249360

In [71]:
imdb_df['profit'].idxmax()

1761

In [74]:
imdb_df.loc[(imdb_df['profit'].idxmax()),'original_title']
## Most Profitable movie is Furious 7

'Furious 7'

In [75]:
## creating the saperate dataframe for max profit movie
Most_profitable_movie = imdb_df.loc[imdb_df['profit'].idxmax()]

In [84]:
Most_profitable_movie.head(10)

id                                                                    1762
belongs_to_collection    [{'id': 9485, 'name': 'The Fast and the Furiou...
budget                                                           190000000
genres                                      [{'id': 28, 'name': 'Action'}]
homepage                                          http://www.furious7.com/
imdb_id                                                          tt2820852
original_language                                                       en
original_title                                                   Furious 7
overview                 Deckard Shaw seeks revenge against Dominic Tor...
popularity                                                       27.275687
Name: 1761, dtype: object

In [100]:
Most_profitable_movie['cast'][0:5]

[{'cast_id': 17,
  'character': 'Dominic Toretto',
  'credit_id': '5431dfd10e0a265915002c34',
  'gender': 2,
  'id': 12835,
  'name': 'Vin Diesel',
  'order': 0,
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'cast_id': 19,
  'character': "Brian O'Conner",
  'credit_id': '5431dfe4c3a3681143002b98',
  'gender': 2,
  'id': 8167,
  'name': 'Paul Walker',
  'order': 1,
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'cast_id': 18,
  'character': 'Hobbs',
  'credit_id': '5431dfdbc3a36831a6004376',
  'gender': 2,
  'id': 18918,
  'name': 'Dwayne Johnson',
  'order': 2,
  'profile_path': '/kuqFzlYMc2IrsOyPznMd1FroeGq.jpg'},
 {'cast_id': 20,
  'character': 'Letty',
  'credit_id': '5431dfeec3a36811ef002c75',
  'gender': 1,
  'id': 17647,
  'name': 'Michelle Rodriguez',
  'order': 3,
  'profile_path': '/v37VK0MNuRuJOCKPKJcZAJXRA5r.jpg'},
 {'cast_id': 28,
  'character': 'Roman',
  'credit_id': '5431e0310e0a2656e2002c95',
  'gender': 2,
  'id': 8169,
  'name': 'Tyrese Gibson',
  'order': 4,
  'profile_path': '/a3tyF7QXgeEH0QuEuIzNZZ8oLNS.jpg'}]

In [89]:
list_of_crew = Most_profitable_movie.loc['crew']

In [90]:
print(list_of_crew)

[{'credit_id': '52fe4cc8c3a36847f823e681', 'department': 'Production', 'gender': 2, 'id': 12835, 'job': 'Producer', 'name': 'Vin Diesel', 'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'}, {'credit_id': '52fe4cc8c3a36847f823e687', 'department': 'Production', 'gender': 2, 'id': 11874, 'job': 'Producer', 'name': 'Neal H. Moritz', 'profile_path': '/cNcsEYmoS4niCz3UkVAA09dUIob.jpg'}, {'credit_id': '52fe4cc8c3a36847f823e68d', 'department': 'Writing', 'gender': 2, 'id': 58191, 'job': 'Writer', 'name': 'Chris Morgan', 'profile_path': '/dUGxIwFBLrSFLImxjeda1krndMO.jpg'}, {'credit_id': '52fe4cc8c3a36847f823e693', 'department': 'Writing', 'gender': 0, 'id': 8162, 'job': 'Characters', 'name': 'Gary Scott Thompson', 'profile_path': '/e2dMfqFvRsOXgWZ1VToYLmos17y.jpg'}, {'credit_id': '52fe4cc8c3a36847f823e699', 'department': 'Directing', 'gender': 2, 'id': 2127, 'job': 'Director', 'name': 'James Wan', 'profile_path': '/d1LSKfzi5J6QngWS7niN1zPJdud.jpg'}, {'credit_id': '52fe4cc8c3a36847f823e6a7', 'department': 'Camera', 'gender': 2, 'id': 58192, 'job': 'Director of Photography', 'name': 'Stephen F. Windon', 'profile_path': None}, {'credit_id': '5534714692514125dc002be4', 'department': 'Visual Effects', 'gender': 0, 'id': 1455610, 'job': 'Animation', 'name': 'Tony Mecca', 'profile_path': None}, {'credit_id': '554fa7b992514110bd002a9d', 'department': 'Camera', 'gender': 0, 'id': 1421687, 'job': 'Director of Photography', 'name': 'Marc Spicer', 'profile_path': None}, {'credit_id': '554fa7cbc3a36822540047fd', 'department': 'Production', 'gender': 1, 'id': 90635, 'job': 'Executive Producer', 'name': 'Samantha Vincent', 'profile_path': None}, {'credit_id': '554fa7d89251413fcf00773d', 'department': 'Production', 'gender': 0, 'id': 84064, 'job': 'Associate Producer', 'name': 'F. Valentino Morales', 'profile_path': '/w85eCnNP0VgmfV5NWyq2SvRGi2y.jpg'}, {'credit_id': '554fa7f2c3a3682254004803', 'department': 'Production', 'gender': 2, 'id': 8181, 'job': 'Producer', 'name': 'Michael Fottrell', 'profile_path': None}, {'credit_id': '554fa80292514110bd002aa8', 'department': 'Production', 'gender': 0, 'id': 75826, 'job': 'Producer', 'name': 'Brandon Birtell', 'profile_path': None}, {'credit_id': '55ed993ac3a3682c62015607', 'department': 'Editing', 'gender': 0, 'id': 1204244, 'job': 'Editor', 'name': 'Leigh Folsom Boyd', 'profile_path': None}, {'credit_id': '55ed994cc3a3687d3b00d64c', 'department': 'Editing', 'gender': 0, 'id': 1204245, 'job': 'Editor', 'name': 'Dylan Highsmith', 'profile_path': None}, {'credit_id': '55ed995dc3a3682c5d016867', 'department': 'Editing', 'gender': 0, 'id': 62813, 'job': 'Editor', 'name': 'Kirk M. Morri', 'profile_path': None}, {'credit_id': '55ed99739251413e41014641', 'department': 'Editing', 'gender': 2, 'id': 6668, 'job': 'Editor', 'name': 'Christian Wagner', 'profile_path': None}, {'credit_id': '55ed99859251413e3a014aae', 'department': 'Production', 'gender': 1, 'id': 9545, 'job': 'Casting', 'name': 'Anne McCarthy', 'profile_path': None}, {'credit_id': '55ed99a4c3a3682c5d016875', 'department': 'Production', 'gender': 0, 'id': 1276602, 'job': 'Casting', 'name': 'Kellie Roy', 'profile_path': None}, {'credit_id': '55ed99c7c3a3682c5d01687e', 'department': 'Art', 'gender': 0, 'id': 1445830, 'job': 'Art Direction', 'name': 'Jonathan Carlos', 'profile_path': None}, {'credit_id': '55ed99d89251413e32014a65', 'department': 'Art', 'gender': 2, 'id': 62780, 'job': 'Art Direction', 'name': 'Alan Hook', 'profile_path': None}, {'credit_id': '55ed99e992514106d600d85e', 'department': 'Art', 'gender': 0, 'id': 1493864, 'job': 'Art Direction', 'name': 'Jay Pelissier', 'profile_path': None}, {'credit_id': '55ed9a36c3a3682c700147e3', 'department': 'Art', 'gender': 1, 'id': 1506359, 'job': 'Art Department Coordinator', 'name': 'Kelly Richardson', 'profile_path': None}, {'credit_id': '55ed9a52c3a3682c640130c3', 'department': 'Art', 'gender': 0, 'id': 1506360, 'job': 'Art Department Coordinator', 'name': 'Courtney Cocherell', 'profile_path': None}, {'credit_id': '55ed9a6cc3a368090c004f9c', 'department': 'Art', 'gender': 0, 'id': 1326651, 'job': 'Assistant Art Director', 'name': 'Elena Albanese', 'profile_path': None}, {'credit_id': '55ed9a96c3a3686f17003be1', 'department': 'Art', 'gender': 0, 'id': 1405376, 'job': 'Assistant Art Director', 'name': 'Alex McCarroll', 'profile_path': None}, {'credit_id': '55ed9acbc3a3682c640130e4', 'department': 'Art', 'gender': 0, 'id': 1338147, 'job': 'Construction Coordinator', 'name': 'Bruce Di Valerio', 'profile_path': None}, {'credit_id': '55ed9b03c3a3682c640130f5', 'department': 'Art', 'gender': 2, 'id': 52600, 'job': 'Production Design', 'name': 'Bill Brzeski', 'profile_path': None}, {'credit_id': '55ed9b169251413e2f0145a8', 'department': 'Art', 'gender': 1, 'id': 75391, 'job': 'Set Decoration', 'name': 'Danielle Berman', 'profile_path': None}, {'credit_id': '55ed9b29c3a3682c5d0168d9', 'department': 'Costume & Make-Up', 'gender': 1, 'id': 2519, 'job': 'Costume Design', 'name': 'Sanja Milkovic Hays', 'profile_path': None}, {'credit_id': '55ed9bdac3a3682c62015698', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1439109, 'job': 'Costume Supervisor', 'name': 'Nava R. Sadan', 'profile_path': None}, {'credit_id': '55ed9c0bc3a3686f17003c45', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1439747, 'job': 'Costume Supervisor', 'name': 'Andrew Hunt', 'profile_path': None}, {'credit_id': '55ed9c3192514106d600d8e0', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1506364, 'job': 'Set Costumer', 'name': 'Jim Alan Cook', 'profile_path': None}, {'credit_id': '55ed9c45c3a3682c5d016925', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1415019, 'job': 'Set Costumer', 'name': 'Shayne Allen Duhon', 'profile_path': None}, {'credit_id': '55ed9c579251413e32014af5', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1506365, 'job': 'Set Costumer', 'name': 'Empress Holley', 'profile_path': None}, {'credit_id': '55ed9c6d9251413e450148ff', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1413125, 'job': 'Set Costumer', 'name': 'Marina Marit', 'profile_path': None}, {'credit_id': '55ed9c8d92514106d600d8fb', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1506366, 'job': 'Set Costumer', 'name': 'Les Morgan', 'profile_path': None}, {'credit_id': '55ed9cda9251413e2f014612', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1408293, 'job': 'Hairstylist', 'name': 'Linda D. Flowers', 'profile_path': None}, {'credit_id': '55ed9cf69251413e2f01461d', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1412767, 'job': 'Hairstylist', 'name': "Yesim 'Shimmy' Osman", 'profile_path': None}, {'credit_id': '55ed9d0ec3a3687d3b00d73a', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1506367, 'job': 'Hairstylist', 'name': 'Jennifer Santiago', 'profile_path': None}, {'credit_id': '55ed9d2a9251413e3e0155d8', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1425409, 'job': 'Hairstylist', 'name': 'Rachel Solow', 'profile_path': None}, {'credit_id': '55ed9d4cc3a3682c620156ed', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1452643, 'job': 'Hairstylist', 'name': 'Roxane Griffin', 'profile_path': None}, {'credit_id': '55ed9d6fc3a3682c5d01696f', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1309209, 'job': 'Makeup Department Head', 'name': 'James MacKinnon', 'profile_path': None}, {'credit_id': '55ed9d8cc3a368090c00504f', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1506368, 'job': 'Makeup Artist', 'name': 'Autumn Butler', 'profile_path': None}, {'credit_id': '55ed9da09251413e3a014b98', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1437798, 'job': 'Makeup Artist', 'name': "Roxy D'Alonzo", 'profile_path': None}, {'credit_id': '55ed9db79251413e3a014ba5', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1506369, 'job': 'Makeup Artist', 'name': 'Hee Soo Kwon', 'profile_path': None}, {'credit_id': '55ed9dce9251413e32014b4e', 'department': 'Costume & Make-Up', 'gender': 1, 'id': 1459196, 'job': 'Makeup Artist', 'name': 'Sarah Mays', 'profile_path': None}, {'credit_id': '55ed9de4c3a3687d3b00d775', 'department': 'Costume & Make-Up', 'gender': 2, 'id': 15330, 'job': 'Makeup Artist', 'name': 'Paul Pattison', 'profile_path': None}, {'credit_id': '55ed9df99251413e3e015610', 'department': 'Costume & Make-Up', 'gender': 0, 'id': 1317667, 'job': 'Makeup Artist', 'name': 'Eleanor Sabaduquia', 'profile_path': None}, {'credit_id': '55ed9e1fc3a3687d3b00d77e', 'department': 'Crew', 'gender': 0, 'id': 1414497, 'job': 'Property Master', 'name': 'Guillaume DeLouche', 'profile_path': None}, {'credit_id': '55ed9e3ac3a368090c005084', 'department': 'Crew', 'gender': 0, 'id': 1464516, 'job': 'Property Master', 'name': 'Douglas T. Madison', 'profile_path': None}, {'credit_id': '55ed9f5d9251413e3e015662', 'department': 'Crew', 'gender': 2, 'id': 57158, 'job': 'Second Unit Cinematographer', 'name': 'Igor Meglic', 'profile_path': None}, {'credit_id': '55ed9fa0c3a3682c6401320f', 'department': 'Crew', 'gender': 0, 'id': 13670, 'job': 'Second Unit Cinematographer', 'name': 'Jacques Haitkin', 'profile_path': None}, {'credit_id': '55ed9fc59251413e32014bbc', 'department': 'Lighting', 'gender': 0, 'id': 1437304, 'job': 'Gaffer', 'name': 'Michael Ambrose', 'profile_path': None}, {'credit_id': '55ed9fe79251413e410147e4', 'department': 'Camera', 'gender': 0, 'id': 1506371, 'job': 'Camera Operator', 'name': 'Denise Bailie', 'profile_path': None}, {'credit_id': '55ed9ffa9251413e3a014c40', 'department': 'Camera', 'gender': 0, 'id': 1506373, 'job': 'Camera Operator', 'name': 'Robert-James Bova', 'profile_path': None}, {'credit_id': '55eda0299251413e3a014c49', 'department': 'Lighting', 'gender': 0, 'id': 1439108, 'job': 'Rigging Gaffer', 'name': 'Tom Fendley', 'profile_path': None}, {'credit_id': '55eda056c3a3682c7001494b', 'department': 'Camera', 'gender': 0, 'id': 1434896, 'job': 'Camera Operator', 'name': 'Sarah Levy', 'profile_path': None}, {'credit_id': '55eda06e9251413e450149ee', 'department': 'Camera', 'gender': 2, 'id': 74989, 'job': 'Camera Operator', 'name': 'Mark Emery Moore', 'profile_path': '/mhjX0FuAXv6SeSLLFHpaaiQbx6P.jpg'}, {'credit_id': '55eda082c3a3682c6b014009', 'department': 'Camera', 'gender': 2, 'id': 1432918, 'job': 'Camera Operator', 'name': 'Daniel Nichols', 'profile_path': None}, {'credit_id': '55eda09d9251413e3e01569d', 'department': 'Camera', 'gender': 0, 'id': 1439104, 'job': 'Camera Operator', 'name': 'Onofrio Nino Pansini', 'profile_path': None}, {'credit_id': '55eda0b59251413e3a014c6c', 'department': 'Camera', 'gender': 0, 'id': 1408356, 'job': 'Camera Operator', 'name': 'David Richert', 'profile_path': None}, {'credit_id': '55eda0d1c3a3686f17003d58', 'department': 'Camera', 'gender': 2, 'id': 1411271, 'job': 'Camera Operator', 'name': 'Michael J. Walker', 'profile_path': None}, {'credit_id': '55eda0f7c3a3687d3b00d81b', 'department': 'Camera', 'gender': 2, 'id': 1378241, 'job': 'Camera Operator', 'name': 'Maurice K. McGuire', 'profile_path': None}, {'credit_id': '55eda1159251413e3e0156bd', 'department': 'Camera', 'gender': 0, 'id': 1411842, 'job': 'Camera Operator', 'name': 'Richard Latham', 'profile_path': None}, {'credit_id': '55eda12c92514106d600da0a', 'department': 'Camera', 'gender': 0, 'id': 1404739, 'job': 'Helicopter Camera', 'name': 'Steve Koster', 'profile_path': None}, {'credit_id': '55eda1939251413e3501498d', 'department': 'Camera', 'gender': 0, 'id': 91122, 'job': 'Helicopter Camera', 'name': 'Dylan Goss', 'profile_path': None}, {'credit_id': '55eda1b39251413e3a014ca8', 'department': 'Camera', 'gender': 0, 'id': 82169, 'job': 'Steadicam Operator', 'name': 'Geoffrey Haley', 'profile_path': None}, {'credit_id': '55eda1c7c3a3686f17003d8c', 'department': 'Camera', 'gender': 0, 'id': 1419105, 'job': 'Still Photographer', 'name': 'Scott Garfield', 'profile_path': None}, {'credit_id': '55eda1dbc3a3686f17003d92', 'department': 'Camera', 'gender': 2, 'id': 1395281, 'job': 'Additional Camera', 'name': 'Bob Gorelick', 'profile_path': None}, {'credit_id': '55eda200c3a3682c5d016a8f', 'department': 'Camera', 'gender': 0, 'id': 1375920, 'job': 'Additional Camera', 'name': 'J. Christopher Campbell', 'profile_path': None}, {'credit_id': '55eda228c3a3682c64013295', 'department': 'Lighting', 'gender': 0, 'id': 1403412, 'job': 'Gaffer', 'name': 'Dan Cornwall', 'profile_path': None}, {'credit_id': '55eda25f92514106d600da4b', 'department': 'Visual Effects', 'gender': 0, 'id': 1442137, 'job': 'Animation Supervisor', 'name': 'Catherine Mullan', 'profile_path': None}, {'credit_id': '55eda292c3a3682c5d016ab2', 'department': 'Sound', 'gender': 0, 'id': 1393405, 'job': 'Music Editor', 'name': 'Robb Boyd', 'profile_path': None}, {'credit_id': '55eda2a9c3a3682c6b014075', 'department': 'Sound', 'gender': 0, 'id': 1328758, 'job': 'Music Editor', 'name': 'Matthew Llewellyn', 'profile_path': None}, {'credit_id': '55eda2c89251413e45014a6d', 'department': 'Directing', 'gender': 0, 'id': 1389138, 'job': 'Script Supervisor', 'name': 'Jody Blose', 'profile_path': None}, {'credit_id': '55eda305c3a3682c700149c1', 'department': 'Directing', 'gender': 0, 'id': 1408365, 'job': 'Script Supervisor', 'name': 'Brenda K. Wachel', 'profile_path': None}, {'credit_id': '55eda32dc3a3686f17003ddd', 'department': 'Crew', 'gender': 2, 'id': 8167, 'job': 'Thanks', 'name': 'Paul Walker', 'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'}, {'credit_id': '55eda3b592514106d600da94', 'department': 'Editing', 'gender': 0, 'id': 1400354, 'job': 'Digital Intermediate', 'name': 'Amy Pawlowski', 'profile_path': None}, {'credit_id': '55eda3d792514106d600da9b', 'department': 'Editing', 'gender': 0, 'id': 110262, 'job': 'First Assistant Editor', 'name': 'Richard Conkling', 'profile_path': None}, {'credit_id': '55eda3edc3a3686f17003e0c', 'department': 'Editing', 'gender': 0, 'id': 1194885, 'job': 'First Assistant Editor', 'name': 'Dave  Cory', 'profile_path': None}, {'credit_id': '55eda4169251413e410148ec', 'department': 'Editing', 'gender': 0, 'id': 1439749, 'job': 'First Assistant Editor', 'name': 'Laura Steiger', 'profile_path': None}, {'credit_id': '55eda48092514106d600daba', 'department': 'Visual Effects', 'gender': 0, 'id': 1506377, 'job': 'Animation Supervisor', 'name': 'Daniel Barrett', 'profile_path': '/pplTJP3gCWmP3SMDrXjOt1579MV.jpg'}, {'credit_id': '55eda5109251413e32014cf0', 'department': 'Sound', 'gender': 0, 'id': 12562, 'job': 'ADR & Dubbing', 'name': 'Anna MacKenzie', 'profile_path': None}, {'credit_id': '55eda51ac3a3686f17003e52', 'department': 'Editing', 'gender': 0, 'id': 12562, 'job': 'Dialogue Editor', 'name': 'Anna MacKenzie', 'profile_path': None}, {'credit_id': '55eda539c3a368090c0051c2', 'department': 'Editing', 'gender': 0, 'id': 1342658, 'job': 'Dialogue Editor', 'name': 'Frederick H. Stahly', 'profile_path': None}, {'credit_id': '55eda56a9251413e45014adf', 'department': 'Sound', 'gender': 2, 'id': 1077782, 'job': 'Foley', 'name': 'Gary A. Hecker', 'profile_path': '/qyBUauN3XIS2Mlus3OdGCmrUo0S.jpg'}, {'credit_id': '55eda58292514106d600daf4', 'department': 'Sound', 'gender': 0, 'id': 1367362, 'job': 'Foley', 'name': 'Rick Owens', 'profile_path': None}, {'credit_id': '55eda59ac3a3682c5d016b50', 'department': 'Sound', 'gender': 0, 'id': 1236340, 'job': 'Foley', 'name': 'Dylan Tuomy-Wilhoit', 'profile_path': None}, {'credit_id': '55eda5b09251413e45014af1', 'department': 'Sound', 'gender': 0, 'id': 548445, 'job': 'Foley', 'name': 'Jeffrey Wilhoit', 'profile_path': None}, {'credit_id': '55eda7169251413e45014b3b', 'department': 'Sound', 'gender': 2, 'id': 7239, 'job': 'Sound Designer', 'name': 'Peter Brown', 'profile_path': None}, {'credit_id': '55eda73d9251413e4101498c', 'department': 'Sound', 'gender': 0, 'id': 1392083, 'job': 'Sound Designer', 'name': 'Ann Scibelli', 'profile_path': None}, {'credit_id': '55eda779c3a3682c70014abc', 'department': 'Sound', 'gender': 0, 'id': 1413453, 'job': 'Sound Effects Editor', 'name': 'Stephen P. Robinson', 'profile_path': None}, {'credit_id': '55eda7989251413e3e015838', 'department': 'Sound', 'gender': 0, 'id': 1394131, 'job': 'Sound Re-Recording Mixer', 'name': 'Jon Taylor', 'profile_path': None}, {'credit_id': '55eda7afc3a3686f17003ebf', 'department': 'Sound', 'gender': 0, 'id': 1394130, 'job': 'Sound Re-Recording Mixer', 'name': 'Frank A. Monta√±o', 'profile_path': None}, {'credit_id': '55eda7d79251413e32014e11', 'department': 'Sound', 'gender': 0, 'id': 1309884, 'job': 'Supervising Sound Editor', 'name': 'Joe Dzuban', 'profile_path': None}, {'credit_id': '570bd40dc3a36802a30002d9', 'department': 'Art', 'gender': 0, 'id': 1424153, 'job': 'Supervising Art Director', 'name': 'Desma Murphy', 'profile_path': None}, {'credit_id': '5668cc7a92514174040040f2', 'department': 'Sound', 'gender': 2, 'id': 6041, 'job': 'Original Music Composer', 'name': 'Brian Tyler', 'profile_path': '/22QWiNJj03amY6GT1QPUs7dbdcB.jpg'}, {'credit_id': '58ebe1fa925141281008e943', 'department': 'Production', 'gender': 2, 'id': 58191, 'job': 'Executive Producer', 'name': 'Chris Morgan', 'profile_path': '/dUGxIwFBLrSFLImxjeda1krndMO.jpg'}]

In [92]:
director_list=[]
producer_list=[]

In [93]:
for elm in list_of_crew:
    if elm['job'] == 'Producer':
        producer_list.append(elm['name'])
    if elm['job']== 'Director':
        director_list.append(elm['name'])

In [97]:
print(producer_list)

['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']

In [98]:
print(director_list)

['James Wan']

In [96]:
print(f'The Names of Directors for most Profitable Movie is :{director_list}')

The Names of Directors for most Profitable Movie is :['James Wan']

In [99]:
print(f'The Names of Directors for most Profitable Movie is :{producer_list}')

The Names of Directors for most Profitable Movie is :['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']

In [107]:
List_of_actors = []

In [105]:
list_of_cast = Most_profitable_movie.loc['cast']

In [106]:
list_of_cast[0:3]

[{'cast_id': 17,
  'character': 'Dominic Toretto',
  'credit_id': '5431dfd10e0a265915002c34',
  'gender': 2,
  'id': 12835,
  'name': 'Vin Diesel',
  'order': 0,
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'cast_id': 19,
  'character': "Brian O'Conner",
  'credit_id': '5431dfe4c3a3681143002b98',
  'gender': 2,
  'id': 8167,
  'name': 'Paul Walker',
  'order': 1,
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'cast_id': 18,
  'character': 'Hobbs',
  'credit_id': '5431dfdbc3a36831a6004376',
  'gender': 2,
  'id': 18918,
  'name': 'Dwayne Johnson',
  'order': 2,
  'profile_path': '/kuqFzlYMc2IrsOyPznMd1FroeGq.jpg'}]

In [110]:
for elm in list_of_cast:
    List_of_actors.append(elm['name'])

In [112]:
print(List_of_actors)

['Vin Diesel', 'Paul Walker', 'Dwayne Johnson', 'Michelle Rodriguez', 'Tyrese Gibson', 'Ludacris', 'Jordana Brewster', 'Djimon Hounsou', 'Tony Jaa', 'Ronda Rousey', 'Nathalie Emmanuel', 'Kurt Russell', 'Jason Statham', 'Sung Kang', 'Gal Gadot', 'Lucas Black', 'Elsa Pataky', 'Noel Gugliemi', 'John Brotherton', 'Luke Evans', 'Ali Fazal', 'Miller Kimsey', 'Charlie Kimsey', 'Eden Estrella', 'Gentry White', 'Iggy Azalea', 'Jon Lee Brody', 'Levy Tran', 'Anna Colwell', 'Viktor Hernandez', 'Steve Coulter', 'Robert Pralgo', 'Antwan Mills', 'J.J. Phillips', 'Jorge Ferragut', 'Sara Sohn', 'Benjamin Blankenship', 'D.J. Hapa', 'T-Pain', 'Brian Mahoney', 'Brittney Alger', 'Romeo Santos', 'Jocelin Donahue', 'Stephanie Langston', 'Jorge-Luis Pallo', 'Tego Calder√≥n', 'Nathalie Kelley', 'Shad Moss', 'Don Omar', 'Klement Tinaj', 'Caleb Walker', 'Cody Walker']

In [118]:
List_of_actors

['Vin Diesel',
 'Paul Walker',
 'Dwayne Johnson',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'Jordana Brewster',
 'Djimon Hounsou',
 'Tony Jaa',
 'Ronda Rousey',
 'Nathalie Emmanuel',
 'Kurt Russell',
 'Jason Statham',
 'Sung Kang',
 'Gal Gadot',
 'Lucas Black',
 'Elsa Pataky',
 'Noel Gugliemi',
 'John Brotherton',
 'Luke Evans',
 'Ali Fazal',
 'Miller Kimsey',
 'Charlie Kimsey',
 'Eden Estrella',
 'Gentry White',
 'Iggy Azalea',
 'Jon Lee Brody',
 'Levy Tran',
 'Anna Colwell',
 'Viktor Hernandez',
 'Steve Coulter',
 'Robert Pralgo',
 'Antwan Mills',
 'J.J. Phillips',
 'Jorge Ferragut',
 'Sara Sohn',
 'Benjamin Blankenship',
 'D.J. Hapa',
 'T-Pain',
 'Brian Mahoney',
 'Brittney Alger',
 'Romeo Santos',
 'Jocelin Donahue',
 'Stephanie Langston',
 'Jorge-Luis Pallo',
 'Tego Calder√≥n',
 'Nathalie Kelley',
 'Shad Moss',
 'Don Omar',
 'Klement Tinaj',
 'Caleb Walker',
 'Cody Walker']

In [ ]:
##This data has information about movies made in different languages. 
## Which language has the highest average ROI (return on investment)?

In [135]:
 language_has_highest_avg_ROI = imdb_df.groupby('original_language')['ROI'].mean().reset_index().sort_values(by='ROI',ascending=False).iloc[0,0]

In [136]:
print(f'The laguage has highest average of ROI is: {language_has_highest_avg_ROI}')

The laguage has highest average of ROI is: ko

In [142]:
no_null_genre = imdb_df.loc[~df['genres'].isna()]

In [143]:
len(no_null_genre)

2993

In [144]:
type(no_null_genre)

pandas.core.frame.DataFrame

In [145]:
no_null_genre.loc[0,'genres']

[{'id': 35, 'name': 'Comedy'}]

In [146]:
gen_list = []

In [149]:
for index,row in no_null_genre.iterrows():
    gener = no_null_genre.loc[index,'genres']
    for elm in gener:
        gen_list.append(elm['name'])

In [151]:
len(gen_list)

7511

In [152]:
set(gen_list)

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

In [154]:
## Getting the unique genres in all movies
pd.DataFrame(set(gen_list),columns=['Unique_genres'])

      Unique_genres
0            Action
1         Animation
2          TV Movie
3               War
4            Family
5           History
6           Foreign
7             Drama
8            Horror
9         Adventure
10          Fantasy
11      Documentary
12          Western
13         Thriller
14            Crime
15          Romance
16          Mystery
17  Science Fiction
18           Comedy
19            Music

In [ ]:
##Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with
##the highest average RoI?

In [235]:
no_null_crew = imdb_df[~imdb_df['crew'].isna()]

In [236]:
no_null_crew.shape

(2984, 25)

In [237]:
def create_producer_list(index):
    movie_index = no_null_crew.iloc[index]
    crew_list = movie_index.loc['crew']
    list_of_producer = []
    for elm in crew_list:
        if elm['job']== 'Producer':
            list_of_producer.append(elm['name'])
    return list_of_producer

In [238]:
create_producer_list(1)

['Whitney Houston', 'Mario Iscovich', 'Debra Martin Chase']

In [239]:
def create_director_list(index):
    movie_index = no_null_crew.iloc[index]
    crew_list = movie_index.loc['crew']
    list_of_producer = []
    for elm in crew_list:
        if elm['job']== 'Director':
            list_of_producer.append(elm['name'])
    return list_of_producer

In [240]:
create_director_list(1)

['Garry Marshall']

In [241]:
Table = pd.DataFrame(columns = ['Movie Name','Diarectors','Producers','roi'])

In [242]:
Table

Empty DataFrame
Columns: [Movie Name, Diarectors, Producers, roi]
Index: []

In [243]:
for index,row in no_null_crew.iterrows():
    
    try:
        Table = table.concat({'Movie Name': no_null_crew.loc[index,'original_title'],'Diarectors':create_director_list(index),'Producers':create_producer_list(index),'roi': no_null_crew.loc[index,'ROI'] },ignore_index=True)
    except:
        continue

In [245]:
table.head(1)

Empty DataFrame
Columns: [Movie Name, Diarectors, Producers, roi]
Index: []

In [229]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  0 non-null      object
 1   Diarectors  0 non-null      object
 2   Producers   0 non-null      object
 3   roi         0 non-null      object
dtypes: object(4)
memory usage: 0.0+ bytes

In [220]:
table['ROI'] = table['ROI'].mean()

In [221]:
table.head()

,Movie Name,Diarectors,Producers,ROI
0,Hot Tub Time Machine 2,[Steve Pink],[Andrew Panay],925.340918
1,The Princess Diaries 2: Royal Engagement,[Garry Marshall],"[Whitney Houston, Mario Iscovich, Debra Martin...",925.340918
2,Whiplash,[Damien Chazelle],"[David Lancaster, Michel Litvak, Jason Blum, H...",925.340918
3,Kahaani,[Sujoy Ghosh],[Sujoy Ghosh],925.340918
4,마린보이,[Jong-seok Yoon],[],925.340918